<div class="flex-center">
  <%= render partial: '/shared/flash_alerts' %>
  <h1 class="page-title"><%= @organisation.name %></h1>
  <div class="flex-two-center dash-cta">
    <%= link_to "View shifts", organisation_shifts_path(@organisation), class: "btn-primary" %>
    <%= link_to "Edit", edit_organisation_path(@organisation), class: "btn-primary" %>
    </div>
  <%= button_to "Leave this organisation", leave_path, method: :delete, params: { membership: {organisation_id: @organisation.id} }, disable_with: "Leaving...", class: "btn-alert-text" %>
</div>