<div class="background">
  <p>Adnat</p>
  <div class="user-auth-form">
    <h1>Sign Up</h1>
    <%= form_with model: @user, url: signup_path do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>

      <%= f.label :email %><br>
      <%= f.email_field :email %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br>

      <%= f.label :password_confirmation %><br>
      <p>(6 characters minimum)</p>
      <%= f.password_field :password_confirmation %><br>

      <%= f.submit "Sign Up" %>
    <% end %>
    <%= render partial: '/shared/flash_alerts' %>
  </div>
  <p>Already a member? <%= link_to 'Login', login_path %></p>
</div>